<div class="sidebar">
  <div class="menu">
  <mat-card>
    <mat-action-list>
      <div  >Menu
        <button routerLink="/teacherhome" mat-list-item>
          <div class="list-item-content">
            <mat-icon>home</mat-icon>
            <span><strong>Home</strong></span>
          </div>
        </button>

        <button mat-list-item routerLink="/notes">
          <div class="list-item-content">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <span><strong>Notes</strong></span>
          </div>
        </button>
        <button mat-list-item routerLink="/teachernotes">
          <div class="list-item-content">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <span><strong>Uploaded Notes</strong></span>
          </div>
        </button>
        
        <button mat-list-item routerLink="/addquiz">
          <div class="list-item-content">
            <mat-icon mat-list-icon>list</mat-icon>
            <span><strong>Add Quiz </strong></span>
          </div>
          </button>

          <!-- <button mat-list-item routerLink="/online-exam">
          <div class="list-item-content">
            <mat-icon mat-list-icon>list</mat-icon>
            <span><strong>Add Question into Quiz</strong></span>
          </div>
        </button> -->
        <button mat-list-item routerLink="/quizdetails">
          <div class="list-item-content">
            <mat-icon mat-list-icon>list</mat-icon>
            <span><strong>Quiz Details</strong></span>
          </div>
        </button>

        <button mat-list-item routerLink="/result">
          <div class="list-item-content">
          <mat-icon mat-list-icon>assignment</mat-icon> 
          <strong>Quiz Result</strong></div>
        </button>
        <!-- <button mat-list-item routerLink="/addquestionquizid">
          <div class="list-item-content">
            <mat-icon mat-list-icon>list</mat-icon>
            <span><strong>add Question By QuizId</strong></span>
          </div>
        </button> -->

        <!-- <button mat-list-item routerLink="/quizres">
          <div class="list-item-content">
            <mat-icon mat-list-icon>assignment</mat-icon> 
            <strong>Notice Board</strong>
          </div>
        </button> -->
        <button mat-list-item routerLink="/students">
          <div class="list-item-content">
            <mat-icon mat-list-icon>group</mat-icon>
            <strong>View Students</strong>
          </div>
        </button>
        <button mat-list-item routerLink="/teacherattendance">
          <div class="list-item-content">
            <mat-icon mat-list-icon>event_note</mat-icon>
            <strong>Attendance</strong>
          </div>
        </button>

        <!-- <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
      </button>
      <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon>add</mat-icon> Add Quiz
      </button>-->
        <button mat-list-item routerLink="/login" (click)="clearStorage()">
          <div class="list-item-content">
            <mat-icon mat-list-icon>logout</mat-icon>
            <strong>Logout</strong>
          </div>
        </button>
      </div>
    </mat-action-list>
  </mat-card>
</div>
</div>