<html>
<body>
    <a routerLink="/home" routerLinkActive="active" class="nav-link"></a>
    <div class="text-center"> <!-- Center-align content -->
        <h1 class="display-4">Welcome To E_ClassRoom</h1>
      
        <div class="my-4"> <!--  vertical spacing -->
          <button class="btn btn-primary btn-lg mr-2" (click)="login()">Login</button>
          <button class="btn btn-success btn-lg" (click)="register()">Register</button>
        </div>
      </div>
      
        <footer>
        
        </footer>
</body>
</html>