
<div class="side">
    <app-studentsidebar></app-studentsidebar>
</div>

<div class="add-note-content" style="padding-top: 20px;">
    <h1>Student Attendance</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Roll_No</th>
          <th>Date</th>
          <th>Time</th>
          <th>Attendance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of attendanceRecords | paginate: { itemsPerPage: pageCount, currentPage: pageNumber }">
          <td>{{ user.id }}</td>
          <td>{{ record.date }}</td>
          <td>{{ parseTime(record.attendanceList[0].date) }}</td>
          <td>
            <span *ngIf="record.attendanceList[0].present; else absentText">Present</span>
            <ng-template #absentText>Absent</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="text-right">
      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
    </div>