<div class="side">
    <app-sidebar></app-sidebar>
</div> 
<div class="form-container mat-elevation-z5 text-center"  >
    <!-- <h1>User Profile</h1> -->
<div class="profile-image">
     <img width="120" height="100" [src]=" 'assets/profile.jpg'"/>         
<!-- <button mat-mini-fab (click)="inputfiled.click()">
    <mat-icon>edit</mat-icon>
</button> -->
</div>

<div class="add-note-content">
    <!-- <input #inputfiled type="file" (change)="onFileSelected($event)" hidden /> -->
    <div class="text-center">
    <h1 class="mt20">Hello {{ user.firstName }} {{ user.lastName }} ( {{ user.role }} )</h1>
    </div>
    <div class="form-container form-container-scrollable">
    <mat-card>
      <mat-card-content>
        <form class="mt-3" #registerform="ngForm" (ngSubmit)="updateUser()">
  
          <mat-form-field class="full-width">
            <input matInput id="id" name="id" [(ngModel)]="user.id" disabled>
            <mat-label>Teacher Id</mat-label>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput name="firstName" [(ngModel)]="user.firstName" required #firstname="ngModel">
            <mat-label>First Name</mat-label>
            <mat-error *ngIf="firstname.invalid && firstname.touched">
              <small *ngIf="firstname.errors?.['required']">Required field</small>
              <small *ngIf="firstname.errors?.['pattern']">Enter a valid name</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput name="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel">
            <mat-label>Last Name</mat-label>
            <mat-error *ngIf="lastName.invalid && lastName.touched">
              <small *ngIf="lastName.errors?.['required']">Required field</small>
              <small *ngIf="lastName.errors?.['pattern']">Enter a valid name</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput name="eMail" [(ngModel)]="user.eMail" required
              pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              #email="ngModel">
            <mat-label>Email</mat-label>
            <mat-error *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors?.['required']">Email ID is required</small>
              <small *ngIf="email.errors?.['pattern']">Enter a valid email ID</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput name="mobileNo" [(ngModel)]="user.mobileNo" required pattern="[789][0-9]{9}" #mobilenumber="ngModel">
            <mat-label>Mobile Number</mat-label>
            <mat-error *ngIf="mobilenumber.invalid && mobilenumber.touched">
              <small *ngIf="mobilenumber.errors?.['required']">Required field</small>
              <small *ngIf="mobilenumber.errors?.['pattern']">Enter a valid phone number</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input  matInput name="userName" [(ngModel)]="user.username" disabled required
              title="Must contain at least one character"
              #userName="ngModel">
            <mat-label>Username</mat-label>
            <mat-error *ngIf="userName.invalid && userName.touched">
              <small *ngIf="userName.errors?.['required']">Username is required</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password" name="passWord" [(ngModel)]="user.password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              #passWord="ngModel">
            <mat-label>Password</mat-label>
            <mat-error *ngIf="passWord.invalid && passWord.touched">
              <small *ngIf="passWord.errors?.['required']">Password is required</small>
              <small *ngIf="passWord.errors?.['pattern']">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput name="city" [(ngModel)]="user.city" required  #City="ngModel">
            <mat-label>City</mat-label>
            <mat-error *ngIf="City.invalid && City.touched">
              <small *ngIf="City.errors?.['required']">Required field</small>
              <!-- <small *ngIf="City.errors?.['pattern']">Enter a valid City</small> -->
            </mat-error>
          </mat-form-field>
  
          <div class="submit-btn text-center">
            <div class="button">
              <button mat-raised-button color="primary" type="submit">Update User Details</button>
            </div>
          </div>
        </form>
  
        <div class="delete-btn text-center">
          <div class="button">
            <button mat-raised-button color="warn" (click)="deleteUser()">Delete My Account</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>