<mat-toolbar color="primary">
    <mat-icon class="icon-margin-right">menu_book</mat-icon>
    <span id="headerclass">
        <strong>
            <label id="header">E_ClassRoom</label>
        </strong>
    </span>
    
    <span class="example-spacer"></span>

    <label>{{currentRole}}</label>

    <span class="example-spacer"></span>

    <button mat-icon-button aria-label="Go to Welcome" (click)="checkAndNaigate()">
        <mat-icon class="icon-margin-left">home</mat-icon>
    </button>
</mat-toolbar>