
body {
    font-family: Arial, sans-serif;
}

h1{
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    float: right;
    background-color: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
