<div class="side">
  <app-sidebar></app-sidebar>
</div>
<div class="container">
  <h1>Add Questions to <b>{{quiz.title}}</b> Quiz</h1>
    <form (ngSubmit)="submitQuestion()" #questionForm="ngForm">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question" [(ngModel)]="question.content" required>
    <br>
    <label for="option1">1:</label><input type="text" id="option1" name="option1" [(ngModel)]="question.option1" required>
    <br>
    <label for="option2">2:</label><input type="text" id="option2" name="option2" [(ngModel)]="question.option2" required>
    <br>
    <label for="option3">3:</label><input type="text" id="option3" name="option3" [(ngModel)]="question.option3" required>
    <br>
    <label for="option4">4:</label><input type="text" id="option4" name="option4" [(ngModel)]="question.option4" required>
    <br>
    <label for="answer">Answer:</label>
    <select id="answer" name="answer" [(ngModel)]="question.answer" required>
      <option value="" disabled>Select an answer</option>
      <option [ngValue]="question.option1">{{ question.option1 }}</option>
      <option [ngValue]="question.option2">{{ question.option2 }}</option>
      <option [ngValue]="question.option3">{{ question.option3 }}</option>
      <option [ngValue]="question.option4">{{ question.option4 }}</option>
    </select>
    <br>

    <button type="submit" >Create Question</button>
    <!-- <button type="submit" [disabled]="questionForm.invalid">Create Question</button> -->
    <!-- <button type="submit" [disabled]="questionForm.invalid">Back</button>  -->
  </form>
</div>