<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- <html>
<body> -->

        <!-- <body> -->
        <!-- <footer>
            <div class="iconcon footer">
                <a href="https://wa.me/PHONE_NUMBER"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/official_instagram_account/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/official_facebook_page/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/official_twitter_account"><i class="fa fa-twitter"></i></a>
            </div>
        </footer> -->

    <div class="text-center"> 
        
        <h1 >Welcome To E_ClassRoom</h1>
        <div> <!--  vertical spacing -->
          <button class="btn btn-primary btn-lg mr-2" (click)="login()">Login</button>
        </div>
        <div>
            <button class="btn btn-success btn-lg" (click)="register()">Register</button>
        </div>
    </div>
   
    <footer>
        <!-- <p>Contact us at <a href="mailto:e_classroom@gmail.com">e_classroom@gmail.com</a></p> -->
            <div class="footerContainer">
                        <a href="https://wa.me/PHONE_NUMBER"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://www.instagram.com/official_instagram_account/"><i class=" fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/official_facebook_page/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/official_twitter_account"><i class="fa-brands fa-twitter"></i></a> 
                        <p>Contact us at <a href="mailto:e_classroom@gmail.com">e_classroom@gmail.com</a></p>
                     </div>
                   
    </footer>
    
<!-- </body>
</html> -->




<!--          <a routerLink="/welcome" routerLinkActive="active" class="nav-link">
              <p style="color:rgb(23, 14, 2)">Home </p>
            </a>
            <nav class="navbar navbar-expand-sm navbar-da" style="background-color: #04cbfa;">
            <ul class = "navbar-nav">        
        <button  id="home"(click)="login()"> <i  class="fa fa-phone"></i> Log In</button>
        if click login it will go welcomeComponent.ts file  -->
        <!-- <button  id="login"(click)="register()"> <i  class="bi bi-person"></i> Register</button>
        if click register it will go welcomeComponent.ts file  -->
         <!--<button  (click)="listUsers()"> <i  class="bi bi-person"></i> List Of Users</button>

        <button  (click)="teacherAttendance()"> <i  class="bi bi-person"></i>Attendance</button>

        <button *ngIf="isLoggedIn" id="login"(click)="logout()"> <i  class="bi bi-person"></i> Logout</button>
    </ul>
</nav>-->
