<div class="sidebar">
  <div class="menu">
  <mat-card>
    <mat-action-list>
      <div  >Menu
       
        <button mat-list-item routerLink="/adminhome">
          <div class="list-item-content">
            <mat-icon mat-list-icon>home</mat-icon>
            <strong>Home</strong>
          </div>
        </button>

          <button mat-list-item routerLink="/pendingrequests">
          <div class="list-item-content">
            <mat-icon mat-list-icon>block</mat-icon>
            <strong>Activation Requests</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/leaverequests">
          <div class="list-item-content">
            <mat-icon mat-list-icon>block</mat-icon>
            <strong>Leave Requests</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/adminleavereport">
          <div class="list-item-content">
            <mat-icon mat-list-icon>group</mat-icon>
            <strong>Leave Report</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/teacherlist">
          <div class="list-item-content">
            <mat-icon mat-list-icon>group</mat-icon>
            <strong>View Users</strong>
          </div>
        </button>
    

        <button mat-list-item routerLink="/standard">
          <div class="list-item-content">
            <mat-icon mat-list-icon>class</mat-icon>
            <strong>Add Standard</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/subject">
          <div class="list-item-content">
            <mat-icon mat-list-icon>subject</mat-icon>
            <strong>Add Subjects</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/stdsubjects">
          <div class="list-item-content">
            <mat-icon mat-list-icon>remove_red_eye</mat-icon>
            <strong>View Subjects</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/resultsadmin">
          <div class="list-item-content">
            <mat-icon mat-list-icon>remove_red_eye</mat-icon>
            <strong>View Results</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/historyusers">
          <div class="list-item-content">
            <mat-icon mat-list-icon>group</mat-icon>
            <strong>View Users History</strong>
          </div>
        </button>

        <button mat-list-item routerLink="/loginAdmin" (click)="clearStorage()">
          <div class="list-item-content">
            <mat-icon mat-list-icon>logout</mat-icon>
            <strong>Logout</strong>
          </div>
        </button>
      </div>
    </mat-action-list>
  </mat-card>
</div>
</div>