.tables{
    text-align: center;
    width: 100%;
    /* margin-left: 400px; */
    background-color: #fff;
  }
  h1{
    text-align: center;
    color: white;
    font-weight: bold;

  }
  td{
    text-align: center;
    border-color: black;
  }