<div class="side">
    <app-studentsidebar></app-studentsidebar>
</div>
<div class="add-note-content">
<h1 >Quiz Details</h1>

        <table class="tables">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Subject</th>
                    <th>Number Of Questions</th>
                    <th>Maximun Marks</th>
                    <th>Attempt Quiz</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quiz of quizzes | paginate:{ itemsPerPage:pageCount,currentPage:pageNumber}"> 
                    <td> {{ quiz.title }} </td>
                    <td> {{ quiz.subjects}} </td>
                    <td>{{quiz.numberOfQuestions}}</td>
                    <td>{{quiz.maxMarks}}</td>
                    <td><button type="button" class="btn btn-info" (click)="Attempt(quiz)">
                        Attempt</button></td>
                </tr>
            </tbody>
        </table>
    <div class="text-right">
        <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
    </div>
</div>