<div class="justify-content-center">


  <div class="container">
    <div class="content">

      <form #registerform="ngForm" (ngSubmit)="userUpdate()">
        <h2>Update User</h2>

        
         <div class="form-row">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName" required pattern="[A-Za-z]{1,32}" #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" />
        </div>
          <div  class="error-messages" *ngIf="firstname.errors && (firstname.invalid && firstname.touched)">
            <small class="text-danger" *ngIf="firstname.errors?.['required']">Required field</small>
            <small class="text-danger" *ngIf="firstname.errors?.['pattern']">Enter a valid name</small>
          </div>
        
        

        <div class="form-row">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" required pattern="[A-Za-z]{1,32}" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" />
        </div>
          <div class="error-messages"  *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
            <small class="text-danger" *ngIf="lastName.errors?.['required']">Required field</small>
            <small class="text-danger" *ngIf="lastName.errors?.['pattern']">Enter a valid name</small>
          </div>
        
       
    <div class="form-row">
      <label for="eMail">Email:</label>
      <input type="email" name="eMail" class="form-control" placeholder="EMAIL" [(ngModel)]="user.eMail" required
        pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
        #email="ngModel" [class.is-invalid]="email.invalid&&email.touched" />
      </div>
      <div class="error-messages" *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors?.['required']">Email id is required</small>
        <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter valid email id</small>
      </div>

        <div class="form-row">
          <label for="mobileNo">Phone Number:</label>
          <input type="text" name="mobileNo" class="form-control" placeholder="Phone Number" [(ngModel)]="user.mobileNo"
            required pattern="[6789][0-9]{9}" #mobilenumber="ngModel"
            [class.is-invalid]="mobilenumber.invalid&&mobilenumber.touched" />
        </div> 
            <div class="error-messages" *ngIf="mobilenumber.errors && (mobilenumber.invalid && mobilenumber.touched)">
            <small class="text-danger" *ngIf="mobilenumber.errors?.['required']">required field</small>
            <small class="text-danger" *ngIf="mobilenumber.errors?.['pattern']">enter a valid phone number</small>
          </div>
          
          <div class="form-row">
            <label for="Role">Role:</label>
            <select disabled name="Role" class="form-control" [(ngModel)]="user.role" required #Role="ngModel"
              [class.is-invalid]="Role.invalid && Role.touched">
              <option value="" disabled>Select a Role</option>
              <option *ngFor="let role of role" [value]="role">{{role }}</option>
            </select>
          </div>
            <div class="error-messages" *ngIf="Role.errors && (Role.invalid && Role.touched)">
              <small class="text-danger" *ngIf="Role.errors?.['required']">Role is required</small>
            </div>
          
            <div class="form-row">
              <label for="country">Country</label>
              <select  id="country" name="country" (change) ="onCountryChange($event)" [(ngModel)]="user.country">
                <option value="">Select country</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
            </div>
          
            <div class="form-row">
              <label for="state">State</label>
              <select id="state" name ="state" (change)="onStateChange($event)" [(ngModel)]="user.state">
                <option value="{{user.state}}">{{user.state}}</option>
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
              </select>
            </div>
          
          <div class="form-row">
              <label for="city">City</label>
              <select id="city" name="city" (change)="onCityChange($event)" [(ngModel)]="user.city">
                <option value="{{user.city}}">{{user.city}}</option>
                <option *ngFor="let city of cities"  [value]="city.name">{{ city.name }}</option>
              </select>
            </div>

      <div class="form-row">
        <label for="Username">Username:</label>
        <input type="text" name="userName" class="form-control" placeholder="Username" [(ngModel)]="user.username"
          required
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" />
        </div>
        <div class="error-messages"  *ngIf="userName.errors && (userName.invalid && userName.touched)">
          <small class="text-danger" *ngIf="userName.errors?.['required']">Username is required</small>
          <small class="text-danger" *ngIf="userName.errors?.['pattern']">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
        </div>
      

      <div class="form-row ">
            <label for="Password">Password:</label>
          <input type="password" name="passWord" class="form-control" placeholder="Password" [(ngModel)]="user.password"
            required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
            #passWord="ngModel" [class.is-invalid]="passWord.invalid&&passWord.touched" />
       </div> 
        <div class="error-messages" *ngIf="passWord.errors && (passWord.invalid && passWord.touched)">
            <small class="text-danger" *ngIf="passWord.errors?.['required']">password is required</small>
            <small class="text-danger" *ngIf="passWord.errors?.['pattern']">must contain at least one number and one
              uppercase and lowercase letter, and at least 8 or more characters</small>
          </div>
       
        
       
        <div class="form-group submit-btn">
          <div class="button">
            <input [disabled]="registerform.form.invalid" type="submit" value="Update User">
          </div>
        </div>
      </form>
    </div>


<!-- <div class="justify-content-center">
    <div class="container">
      <div class="content">
        <form #updateform="ngForm" (ngSubmit)="userUpdate()">
          <h2 style="text-align: center;" class="fw-bold mb-5"><b style="color:mediumblue">Update</b></h2>

          <div class="form-group fullname">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName"
              required pattern="[A-Za-z]{1,32}" #firstname="ngModel"
              [class.is-invalid]="firstname.invalid&&firstname.touched" />
            <div *ngIf="firstname.errors && (firstname.invalid && firstname.touched)">
              <small class="text-danger" *ngIf="firstname.errors?.['required']">required field</small>
              <small class="text-danger" *ngIf="firstname.errors?.['pattern']">enter a valid name</small>
            </div>
          </div>
  
          <div class="form-group fullname">
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName"
              pattern="[A-Za-z]{1,32}" #lastname="ngModel" [class.is-invalid]="lastname.invalid" />
            <div *ngIf="lastname.errors ">
              <small class="text-danger" *ngIf="lastname.errors?.['required']">required field</small>
              <small class="text-danger" *ngIf="lastname.errors?.['pattern']">enter a valid name</small>
            </div>
          </div>
          <div class="form-group email">
            <input type="email" name="eMail" class="form-control" placeholder="EMAIL" [(ngModel)]="user.eMail" required
              pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              #email="ngModel" [class.is-invalid]="email.invalid&&email.touched" />
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors?.['required']">email id is required</small>
              <small class="text-danger" *ngIf="email.errors?.['pattern']">enter valid email id</small>
            </div>
          </div>
  
          <div class="form-group mobile">
            <input type="text" name="mobileNo" class="form-control" placeholder="Phone Number" [(ngModel)]="user.mobileNo"
              required pattern="[789][0-9]{9}" #mobilenumber="ngModel"
              [class.is-invalid]="mobilenumber.invalid&&mobilenumber.touched" />
            <div *ngIf="mobilenumber.errors && (mobilenumber.invalid && mobilenumber.touched)">
              <small class="text-danger" *ngIf="mobilenumber.errors?.['required']">required field</small>
              <small class="text-danger" *ngIf="mobilenumber.errors?.['pattern']">enter a valid phone number</small>
            </div>
          </div>
          <div class="form-group role">
            <select name="Role" class="form-select" [(ngModel)]="user.role" required #Role="ngModel"
              [class.is-invalid]="Role.invalid && Role.touched">
              <option value="" disabled selected>Select Role</option>
              <option value="Teacher">Teacher</option>
              <option value="Student">Student</option>
            </select>
            <div *ngIf="Role.errors && (Role.invalid && Role.touched)">
              <small class="text-danger" *ngIf="Role.errors?.['required']">Role is required</small>
            </div>
          </div>
          <div class="form-group city">
            <input type="text" name="City" class="form-control" placeholder="City" [(ngModel)]="user.city" required
              pattern="[a-zA-Z'-'\s]*" #City="ngModel" [class.is-invalid]="City.invalid&&City.touched" />
            <div *ngIf="City.errors && (City.invalid && City.touched)">
              <small class="text-danger" *ngIf="City.errors?.['required']">required field</small>
              <small class="text-danger" *ngIf="City.errors?.['pattern']">enter a valid City</small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <select name="State" class="form-control" [(ngModel)]="user.state" required #State="ngModel">
                <option value="" disabled>Select a State</option>
                <option *ngFor="let state of state1" [value]="state">{{ state }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <select name="Country" class="form-control" [(ngModel)]="user.country" required #Country="ngModel">
                <option value="" disabled>Select a Country</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
              <div *ngIf="Country.errors && (Country.invalid && Country.touched)">
                <small class="text-danger" *ngIf="Country.errors?.['required']">Country is required</small>
              </div>
            </div>
          </div>
          <div class="form-group username">
            <input type="text" name="userName" class="form-control" placeholder="Username" [(ngModel)]="user.username"
              required
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
              #userName="ngModel" [class.is-invalid]="userName.invalid&&userName.touched" />
            <div *ngIf="userName.errors && (userName.invalid && userName.touched)">
              <small class="text-danger" *ngIf="userName.errors?.['required']">password is required</small>
              <small class="text-danger" *ngIf="userName.errors?.['pattern']">must contain at least one number and one
                uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
          </div>
  
          <div class="form-group password">
            <input type="password" name="passWord" class="form-control" placeholder="Password" [(ngModel)]="user.password"
              required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
              #passWord="ngModel" [class.is-invalid]="passWord.invalid&&passWord.touched" />
            <div *ngIf="passWord.errors && (passWord.invalid && passWord.touched)">
              <small class="text-danger" *ngIf="passWord.errors?.['required']">password is required</small>
              <small class="text-danger" *ngIf="passWord.errors?.['pattern']">must contain at least one number and one
                uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
          </div>
          <div class="form-group submit-btn">
            <div class="button">
              <input [disabled]="updateform.form.invalid" type="submit" value="Update User">
            </div>
          </div>
        </form>
      </div>


 -->
