<div class="side">
    <app-sidebar></app-sidebar>
  </div>
  <div class="add-note-content">
    <h1>Create Quiz</h1>
  <form  #quizform="ngForm" (ngSubmit)="addQuiz()">
    <div class="form-group col-md-6">
      <label for="title">Title <label class="text-danger"> *</label> </label>
      <input type="text" id="title" name="title" class="form-control" 
      [(ngModel)]="quiz.title" required  pattern="[A-Za-z]" #title="ngModel"/>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="maxMarks">Maximum Marks <label class="text-danger"> *</label></label>
        <input type="number" id="maxMarks" name="maxMarks" class="form-control" 
        [(ngModel)]="quiz.maxMarks" required pattern="{1,32}">
      </div>
  
      <div class="form-group col-md-6">
        <label for="numberOfQuestions">Number of Questions <label class="text-danger"> *</label></label>
        <input type="number" id="numberOfQuestions" name="numberOfQuestions" 
        class="form-control" [(ngModel)]="quiz.numberOfQuestions" required pattern="{1,32}">  
      </div>
    </div>
     
    <div class="form-group col-md-6">
      <label for="subjects">Subject <label class="text-danger"> * </label></label>
      <mat-select id="subjects" name="subjects" [(ngModel)]="quiz.subjects" required (selectionChange)="selectSubject($event.value)">
        <mat-option value="physics">Physics</mat-option>
        <mat-option value="chemistry">Chemistry</mat-option>
        <mat-option value="biology">Biology</mat-option>
        <mat-option value="maths">Mathematics</mat-option>
        <mat-option value="english">English</mat-option>
      </mat-select>
    </div>    
    
    <div class="form-row button-container">
      <button type="submit" class="btn btn-primary">Add Quiz</button>
      <!-- [disabled]="quizform.form.invalid"  -->
    </div>
  </form></div>